doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/javascripts/paper.js")

  body
    //- h1= title
    //- p Welcome to #{title} !
    canvas( id="draw", resize="true", keepalive="true" )
    //- canvas( id="canvas" resize stats hidpi="off")
    script( type="text/paperscript", src="javascripts/draw.js", canvas="draw")


  //- originally was like below:
  //- extends layout
  //-
  //- block content
  //-   h1= title
  //-   p Welcome to #{title}
